<div class="row">
  <div class="col-xs-12">
    <h2>It’s the moment of truth. Who do you wanna bang?</h2>

      <div class="alert alert-success">
        <h4>We’ve got your back – your privacy is completely safe.</h4>
        <p>Unless your bang is also interested, he or she will never know what you’re hoping for. And of course, we’ve encrypted all our data so only you have access to your bangs and if you’re not accessing them, no one is.</p>

        <p>Don’t get too excited though – you can only put up to 15 mates as down to bang. And even if you change your mind and unbang someone, it’ll still count. So use your bangs sparingly.</p>
      </div>



<p>Check out who’s opted in below and see if you can spot any potentials. <%= User.where(:optin => true).count %> people have opted in so far.</p>
  </div>
</div>


<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= image_tag(user.avatar.present? ? user.avatar.url(:thumb) : 'http://placehold.it/100x70') %>
          <%= user.name %></td>
          <td><%= user.email %></td>
        <td>

          <%= down_to_bang_cta(user) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

