<h1>Your colleagues</h1>

<div class="row">
  
</div>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= image_tag user.avatar.url(:thumb) %>
          <%= user.name %></td>
          <td><%= user.email %></td>
        <td>

          <%= down_to_bang_cta(user) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
