<h1>Listing users</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Friends</th>
      <th>Optin</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
        <%= image_tag(user.avatar.present? ? user.avatar.url(:thumb) : 'http://placehold.it/100x70') %>
        <%= user.name %></td>
        <td><%= user.email %></td>

        <td><% user.friends.each do |f| %>
        <%# f.name %> 
        <% end %></td>
        <td><%= user.optin.inspect %></td>
        <td>
          <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post if user_signed_in? %>
        </td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
