<div class="row">
  <div class="col-sm-5">
    <div class="row">
      <div class="col-xs-5">
        <%= image_tag @user.avatar.present? ? @user.avatar.url(:medium) : 'http://placehold.it/300x300', class: 'img-responsive' %>
      </div>
      <div class="col-xs-7">
        <h3><%= @user.name %></h3>
        <p><%= '<span class="label label-primary">Admin</span>'.html_safe if @user.admin?  %>
          <%= '<span class="label label-info">SP</span>'.html_safe if @user.superpower?  %></p> 
        <p> <strong><%= @user.email %></strong></p>
        <%= link_to 'Edit your Profile', edit_user_registration_path %><br>
        <%= link_to 'Edit', edit_user_path(@user) if current_user.admin? %>
      </div>
    </div>





    
    </div>


    <div class="col-sm-4">
    <% if current_user.id == params[:id].to_i or current_user.superpower?  %>
      <h4>People you are down to bang:</h4>
      <ul>
        <% for friendship in @user.friendships %>
          <li>
            <%=h friendship.friend.name %>
            (<%= link_to "remove", friendship, :method => :delete %>)
          </li>
        <% end %>
      </ul>
    <% end  %>
    </div>

      <% if current_user.superpower? %>
        <div class="col-sm-3">
          <h4>Would be banged by:</h4>
          <ul>
            <% for user in @user.inverse_friends %>
              <li><%=h user.name %></li>
            <% end %>
          </ul>
          </div>
        <% end  %>

</div>

<br><br>
<div class="row text-center">
  <div class="col-xs-12">
    <p class="lead">Uhhh, No bangs match so far!</p>
  </div>
</div>