<div class="row">
  <div class="col-sm-4">
    <h3><%= @user.name %></h3>
    <p>
      <%= '<span class="label label-primary">Admin</span>'.html_safe if @user.admin?  %>
      <%= '<span class="label label-info">SP</span>'.html_safe if @user.superpower?  %>
    </p> 


    <p>
      <strong><%= @user.email %></strong>
    </p>
    <%= image_tag @user.avatar.url(:medium) %><br>

    <%= link_to 'Edit your Profile', edit_user_registration_path, class: 'btn btn-primary' %><br>
    <%= link_to 'Edit', edit_user_path(@user) if current_user.admin? %>
    
    </div>


    <div class="col-sm-4">
      <h4>You are down to bang:</h4>
      <ul>
        <% for friendship in @user.friendships %>
          <li>
            <%=h friendship.friend.name %>
            (<%= link_to "remove", friendship, :method => :delete %>)
          </li>
        <% end %>
      </ul>
    </div>

      <% if current_user.superpower? %>
        <div class="col-sm-4">
          <h4>Would be banged by:</h4>
          <ul>
            <% for user in @user.inverse_friends %>
              <li><%=h user.name %></li>
            <% end %>
          </ul>
          </div>
        <% end  %>




</div>